build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/
.DS_Store
*.dSYM/
Thumbs.db
desktop.ini
*.exe
__pycache__/
*.pyc
.vscode/
.clang-format
.editorconfig
/MacKernelSDK
.clangd
/compile_commands.json
.cache/
*.log
/*.txt
