<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>

    <key>CFBundleExecutable</key>
    <string>CirrusAudioFixup</string>

    <key>CFBundleIdentifier</key>
    <string>com.hoaugtr.CirrusAudioFixup</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>CirrusAudioFixup</string>

    <key>CFBundlePackageType</key>
    <string>KEXT</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>

    <key>CFBundleVersion</key>
    <string>1.0.0</string>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 hoaugtr. All rights reserved.</string>

    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.kpi.iokit</key>
        <string>20.0</string>

        <key>com.apple.kpi.libkern</key>
        <string>20.0</string>

        <key>com.apple.kpi.mach</key>
        <string>20.0</string>
    </dict>

    <key>IOKitPersonalities</key>
    <dict>
        <key>CirrusAudioFixup-CLSA0100</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.hoaugtr.CirrusAudioFixup</string>

            <key>IOClass</key>
            <string>CirrusAudioFixup</string>

            <key>IOProviderClass</key>
            <string>VoodooI2CDeviceNub</string>

            <key>IOPropertyMatch</key>
            <dict>
                <key>IOName</key>
                <string>CLSA0100</string>
            </dict>

            <key>IOProbeScore</key>
            <integer>10000</integer>
        </dict>
    </dict>
</dict>
</plist>
